@model contactManagement.Model.Contact

@{
    ViewData["Title"] = "Details";
}
<br />

<div>
    <h4>Contact Details</h4>
    <hr />
    <dl class="row">

        <dt class = "col-sm-2">
            @Html.Label("First Name")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt class="col-sm-2">
             @Html.Label("Last Name")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt class = "col-sm-2">
            @Html.Label("Email Address")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailID)
        </dd>

        <dt class = "col-sm-2">
            @Html.Label("Contact Number")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>
