@model contactManagement.Model.Contact

@{
    ViewData["Title"] = "Edit";
}
<br />

<h4>Edit Contact Details</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            @Html.HiddenFor(m => m.Id)

            <div class="form-group">
                @Html.Label("First Name")
                <input asp-for="FirstName" class="form-control" />
            </div>

            <div class="form-group">
                @Html.Label("Last Name")
                <input asp-for="LastName" class="form-control" />
            </div>

            <div class="form-group">
                @Html.Label("Email Address")
                <input asp-for="EmailID" class="form-control" />
            </div>

            <div class="form-group">
                @Html.Label("Contact Number")
                <input asp-for="Phone" class="form-control" />
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Status" /> @Html.DisplayNameFor(model => model.Status)
                </label>
            </div>

            <br />

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>
